apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./openstackclient.yaml

patches:
- patch: |-
    - op: replace
      path: /spec/containers/0/image
      value: quay.io/podified-antelope-centos9/openstack-openstackclient:current-podified
    - op: add
      path: /spec/volumes/0
      value:
       configMap:
         name: openstack-scripts
         defaultMode: 0755
       name: openstack-scripts
    - op: add
      path: /spec/containers/0/volumeMounts/0
      value:
        mountPath: /home/cloud-admin/scripts
        name: openstack-scripts
  target:
    kind: Pod
# (fpantano) NOTE:
# https://github.com/kubernetes-sigs/kustomize/issues/189
# New scripts can be added to the existing configMap via
#
#  kustomize edit add configmap openstack-scripts --from-file=../../../hack/scripts/<script_name>
#
configMapGenerator:
- files:
  - ../distributed_image_import/dist-image-import.sh
  - ../image_signature/sign_glance_image.sh
  name: openstack-scripts
