apiVersion: glance.openstack.org/v1beta1
kind: GlanceAPI
metadata:
  name: default
  annotation:
    keystoneEndpoint: "true"
spec:
  serviceUser: glance
  serviceAccount: glance
  customServiceConfig: |
    [DEFAULT]
    debug = true
  databaseUser: glance
  databaseHostname: glance
  debug:
    dbSync: false
    service: false
  preserveJobs: false
  replicas: 1
  storageRequest: 10G
  secret: glance-secret
