# Requires a running swift service and the credentials to access it
# Uses application credentials for authentication instead of user/password
apiVersion: core.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: openstack
spec:
  glance:
    template:
      customServiceConfig: |
        [DEFAULT]
        enabled_backends = default_backend:swift
        [glance_store]
        default_backend = default_backend
        [default_backend]
        swift_store_create_container_on_put = True
        swift_store_auth_version = 3
        swift_store_auth_address = {{ .KeystoneInternalURL }}
        swift_store_endpoint_type = internalURL
        swift_store_application_credential_id = {{ .ApplicationCredentialID }}
        swift_store_application_credential_secret = {{ .ApplicationCredentialSecret }}
        swift_store_region = {{ .Region }}
      databaseInstance: openstack
      storage:
        storageClass: ""
        storageRequest: 1G
      glanceAPIs:
        default:
          preserveJobs: false
          replicas: 1
