apiVersion: glance.openstack.org/v1beta1
kind: Glance
metadata:
  name: glance
spec:
  serviceUser: glance
  databaseInstance: openstack
  databaseAccount: glance
  keystoneEndpoint: default
  glanceAPIs:
    default:
      customServiceConfig: |
        [DEFAULT]
        enabled_backends=default_backend:rbd,az1:rbd,az2:rbd
      replicas: 1
      type: split
    az1:
      customServiceConfig: |
        [DEFAULT]
        enabled_backends=az1:rbd
      replicas: 1
      type: edge
    az2:
      customServiceConfig: |
        [DEFAULT]
        enabled_backends=az2:rbd
      replicas: 1
      type: edge
  secret: osp-secret
  storageClass: local-storage
  storageRequest: 10G
