apiVersion: glance.openstack.org/v1beta1
kind: Glance
metadata:
  name: glance
spec:
  serviceUser: glance
  customServiceConfig: |
    [DEFAULT]
    debug = true
  databaseInstance: openstack
  databaseUser: glance
  keystoneEndpoint: central
  glanceAPIs:
    central:
      debug:
        service: false
      preserveJobs: false
      replicas: 1
      type: single
    edge1:
      debug:
        service: false
      preserveJobs: false
      replicas: 1
      type: single
    edge2:
      debug:
        service: false
      preserveJobs: false
      replicas: 1
      type: single
  secret: osp-secret
  storageClass: local-storage
  storageRequest: 10G
